.vscode/*
.databricks
uv.lock
.devcontainer
.DS_Store
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
venv/
.env/
*.env
*.venv
logs/
*.log
debug.log
mlruns/
.vscode/
.idea/
build/
*.egg-info/
pip-wheel-metadata/
.ruff_cache
